<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-4">
        <h3>Login</h3>
        <p class="text-primary">Caso já tenha se registrado</p>
        <p><a class="btn btn-info" href="#!/login" role="button">Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Registrar-se</h3>
        <p class="text-primary">Para se registrar</p>
        <p><a class="btn btn-info" href="#!/signup" role="button">Registrar &raquo;</a></p>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>